<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .active {
            background-color: black;
            color: white;
        }

        .bk_blues {
            background-color: #222299;
        }

        .bk_s {
            background-color: unset;
            color: unset;
        }

        .wh {
            width: 100%;
            height: auto;

        }

        .m {
            border: #880700 1px solid;
        }

        .display_y {
            border: #990099 1px solid;
        }

        .display_x {
            border: #1b1b1b 1px solid;
        }

        .vsb {
            border: #da0800 2px solid;
        }

    </style>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.css" rel="stylesheet">
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>


    <script type="text/javascript">
        var t1 = "";
        var s_id = "";
        var stop = 0;
        var status_z = "";
        var user_arr = [];
        var temp_i = "";
        var hisarr = [];
        var historys = "";

        function f() {
            // 获取json数据
            $.getJSON("/status", function (result) {

                var r_statusid = result.statusid;
                if (historys.length>2 &  s_id!==r_statusid) {
                    document.getElementById("history").innerHTML = "<b>最近一把 记录</b>" + historys;
                }
                var r_status_zhuangtai = result.status_zhuangtai;
                if (r_status_zhuangtai.search("尽快选择") !== -1) {
                    if (s_id !== r_statusid) {
                        document.getElementById("statusid").innerText = r_statusid;
                        document.getElementById("status_time").innerText = result.status_time;
                        s_id = r_statusid;
                    }
                }

                if (status_z !== r_status_zhuangtai) {
                    status_z = r_status_zhuangtai;
                    // if (toString(r_status_zhuangtai) === toString("结算")) {
                    if (r_status_zhuangtai.search("结算") !== -1) {
                        stop = 0;
                        document.getElementById("status_zhuangtai").innerText = r_status_zhuangtai + "结算中无法操作";
                        $("#c2").addClass('vsb');
                        $("#c3").removeClass("vsb");
                        $("#c1").removeClass('vsb');
                        $(".m").addClass("display_x");

                        var ts1 = "";
                        if (hisarr.length > 6) {
                            hisarr.pop()
                        } else {
                            hisarr.push(r_statusid + result.status_open + '<hr/>')
                        }
                        for (var ix = 0; ix < hisarr.length; ix++) {
                            ts1 = hisarr[ix] + ts1
                        }
                        document.getElementById("status_open").innerHTML = ts1;

                    }
                    // if (r_status_zhuangtai ==="尽快选择") {
                    if (r_status_zhuangtai.search("尽快选择") !== -1) {
                        document.getElementById("status_zhuangtai").innerText = r_status_zhuangtai + "请选择 石头剪刀 布 中的一个";
                        temp_i = "";
                        stop = 1;
                        $("#c1").addClass('vsb');
                        $("#c2").removeClass('vsb');
                        $(".active").removeClass("active");
                        $(".m").removeClass("display_x");
                    }
                }

                // document.getElementById("p1").innerHTML = result.r;



                var ts = result.userdata;
                console.log(ts, user_arr);
                if (ts.sort().toString() !== user_arr.sort().toString()) {
                    console.log("--xxx--");
                    user_arr = ts;

                    var temp_s = "";
                    for (var i = 0; i < ts.length; i++) {
                        var tx = ["", "石头", "剪刀", "布"];
                        if (ts[i][2]) {
                            temp_s = "用户:[id:" + ts[i][0] + "]" + ts[i][1] + "---出的是---" + tx[Number(ts[i][2])] + "<hr>" + temp_s;
                            historys = s_id + "<hr>" + temp_s;
                        }
                        else {
                            temp_s = "用户:[id:" + ts[i][0] + "]" + ts[i][1] + "<hr>" + temp_s;
                        }
                        //data[i]表示获得第i个json对象即JSONObject
                        //data[i]通过.字段名称即可获得指定字段的值
                    }

                    document.getElementById("user-data").innerHTML = "<b>已经选择的用户</b> <hr>" + temp_s;


                }

                var ta = result.nowuser;
                var temp_ta = "|";
                if (ta) {
                    for (var m = 0; m < ta.length; m++) {
                        temp_ta = " | " + ta[m] + temp_ta;
                    }
                }
                document.getElementById("nowuser").innerText = temp_ta;
                document.getElementById("status_now").innerText = result.status_now;
                // document.getElementById("r").innerText = result.r;

            });
        }

        //每隔1秒自动调用方法，更新
        window.setInterval(f, 1000);

        function changenames() {
            var username = $('#username').attr("value");
            alert(username);
            url = '/changename';
            $.post(url, {username: username}, function (data, status) {
                console.log(data, status);
            }, "json");
        }

        $(document).ready(function () {

            $("#username").blur(function () {

                var username = $("#username").attr("value");
                url = '/changename';
                $.post(url, {username: username}, function (data, status) {
                    console.log(data, status);
                }, "json");

            });

            $("#b01").click(function () {
                // alert(document.getElementById("abc").innerHTML);
                // $('input:radio[name=radio]').attr('checked', false);
                $(".m").removeClass("active");
            });

            $(".m").click(function () {
                console.log(stop);
                if (stop === 1) {

                    $(".active").removeClass("active");
                    $("#c3").addClass("vsb");
                    $("#c1").removeClass("vsb");
                    var m = "5";
                    mysurl = document.getElementById("statusid").innerText;
                    console.log(mysurl);
                    yy = "/updatebuy/";
                    // alert(yy+mysurl);
                    $.post(yy + mysurl, {buy: $(this).attr("id"), m: '1'}, function (data, status) {

                        console.log(data, status);
                        document.getElementById("msg").innerText = '已经确认';
                    }, "json");
                    $(this).addClass("active");
// xml,text,json
                }
            });


        });

    </script>
</head>


<body>
<div class="container" id="aa">
    在线用户:<span id="nowuser"></span>
    <hr>
    选择 时间 15秒 结算等待时间10秒 一局时间25秒，结算期间无法操作。
    <div class="row">
        <h2>用户 临时名字 ：<input type="text" id="username" onFocus=" " onBlur=" " value="{{ session.username }}"
                            alt="点击修改名字">点击可修改名字</input></h2></div>
    <div class="row p-0  m-0">
        <h3 class="p-0  m-0">本期id ： <span id="statusid"></span>
        </h3>
    </div>

    <h4 id="status_zhuangtai" class="p-0 m-0"></h4>

    <div class="row p-1">
        <div id="c1" class="col-lg-8 row p-3">

            <div class=" col-lg-4 p-1 wh">
                <div id="1" class="m default ">石头</div>
            </div>
            <div class="col-lg-4 p-1">
                <div id="2" class="m default">剪刀</div>
            </div>
            <div class="col-lg-4 p-1">
                <div id="3" class="m default">布</div>
            </div>
        </div>
        <div id="c2" class="col-lg-4">
            <div id="user-data"></div>
        </div>
    </div>
    <div id="c3">
        揭晓时间：<span id="status_time"></span>
    </div>
    <div>
        现在时间：<span id="status_now"></span>
    </div>

    <div class="row">
        <div class="col-lg-5">


            <p id="status_open"></p>
        </div>
        <div class="col-lg-7">
            <div id="history">

            </div>

        </div>
    </div>


</div>


</body>
</html>