<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .active {
            background-color: black;
            color: white;
        }

        .bk_blues {
            background-color: #222299;
        }

        .bk_s {
            background-color: unset;
            color: unset;
        }

        .wh {
            width: 100%;
            height: auto;

        }

        .m {
            border: #880700 1px solid;
        }

        .display_y {
            border: #990099 1px solid;
        }

        .display_x {
            border: #1b1b1b 1px solid;
        }
    </style>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.css" rel="stylesheet">
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    {#    <link href="./bootstrap-o.css" rel="stylesheet">#}


    <script type="text/javascript">
        var t1 = "";
        var s_id = "";
        var stop = 0;
        var status_z = "";
        var user_arr = [];
        var temp_i = ""
        function f() {
            // 获取json数据
            $.getJSON("/status", function (result) {
                var r_statusid = result.statusid;
                var r_status_zhuangtai = result.status_zhuangtai;
                if (r_status_zhuangtai.search("尽快选择") !== -1) {
                    if (s_id !== r_statusid) {
                        document.getElementById("statusid").innerText = r_statusid;
                        document.getElementById("status_time").innerText = result.status_time;
                        s_id = r_statusid;
                    }
                }
                if (status_z !== r_status_zhuangtai) {
                    document.getElementById("status_zhuangtai").innerText = r_status_zhuangtai;
                    status_z = r_status_zhuangtai;
                    // if (toString(r_status_zhuangtai) === toString("结算")) {
                    if (r_status_zhuangtai.search("结算") !== -1) {

                        $(".m").addClass("display_x");
                        document.getElementById("status_open").innerHTML = r_statusid + result.status_open + '<hr/>' + document.getElementById("status_open").innerHTML;
                        stop = 0;
                    }
                    // if (r_status_zhuangtai ==="尽快选择") {
                    if (r_status_zhuangtai.search("尽快选择") !== -1) {
                        temp_i=""
                        stop = 1;

                        $(".active").removeClass("active");
                        $(".m").removeClass("display_x");
                    }
                }
                // document.getElementById("p1").innerHTML = result.r;
                document.getElementById("status_now").innerText = result.status_now;
                document.getElementById("r").innerText = result.r;
                var ts = result.userdata;
                console.log(ts,user_arr);
                if (ts.sort().toString()!==user_arr.sort().toString()) {
                    console.log("--xxx--");
                    user_arr = ts;
                    var temp_s = "";
{#                    temp_s = temp_i;#}
                    for (var i = 0; i < ts.length; i++) {
                        var tx=["","石头","剪刀","布"];
                        if(ts[i][1]){
                             temp_s = "用户:"+ts[i][0] +"---出的是---"+ tx[Number(ts[i][1])] + "<hr>" + temp_s;
                        }
                        else{
                            temp_s = "用户:"+ts[i][0]+ "<hr>" + temp_s;
                        }
                        //data[i]表示获得第i个json对象即JSONObject
                        //data[i]通过.字段名称即可获得指定字段的值

                        {#                        console.log();#}
                    }
                    document.getElementById("user-data").innerHTML = temp_s;
{#                    temp_i = temp_s;#}
                }


                {#                if (user_arr !== result.userdata) {#}
                {#                    console.log(user_arr,ts);#}
                {#                    user_arr = result.userdata;#}
                {#                    for (var j in user_arr) {#}
                {#                        console.log(j);#}
                {#                    }#}
                {#                }#}

            });
        }
        //每隔1秒自动调用方法，更新
        window.setInterval(f, 1000);

function changenames() {
    var username= $('#username').attr("value");
    alert(username);
      url='/changename';
              $.post(url, {username:username}, function (data, status) {
                        console.log(data, status);
                    }, "json");
}

        $(document).ready(function () {
{#        $('changename').click(function(){#}
  $("#username").blur(function(){

     var  username= $("#username").attr("value");
      url='/changename';
              $.post(url, {username:username}, function (data, status) {
                        console.log(data, status);
                    }, "json");

  });

            $("#b01").click(function () {
                // alert(document.getElementById("abc").innerHTML);
                // $('input:radio[name=radio]').attr('checked', false);
                $(".m").removeClass("active");
            });

            $(".m").click(function () {
                console.log(stop)
                if (stop === 1) {

                    $(".active").removeClass("active");

                    var m = "5";
                    mysurl = document.getElementById("statusid").innerText;
                    console.log(mysurl);
                    yy = "/updatebuy/";
                    // alert(yy+mysurl);
                    $.post(yy + mysurl, {buy: $(this).attr("id"), m: '1'}, function (data, status) {
                        console.log(data, status);

                        console.log(data, status)
                        document.getElementById("msg").innerText = '已经确认';
                    }, "json");
                    $(this).addClass("active");
// xml,text,json
                }
            });


        });

    </script>
</head>


<body>
<div class="container" id="aa">

    <h1>用户 临时 id：<input type="text" id="username" onFocus=" " onBlur=" "  value="{{ session.username }}">  </h1>
<div class="row"><h3>本期id ： <div id="statusid"></div></h3></div>

    <p id="r">随机</p>
    <h4 id="status_zhuangtai" class=""></h4>
    <div class="row p-1">
        <div class="col-lg-8 row">
            <div class=" col-lg-4 p-1 wh">
                <div id="1" class="m default ">石头</div>
            </div>
            <div class="col-lg-4 p-1">
                <div id="2" class="m default">剪刀</div>
            </div>
            <div class="col-lg-4 p-1">
                <div id="3" class="m default">布</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="user-data"></div>
        </div>

    </div>
    <p class="align-content-center" id="msg">a</p>

    揭晓时间：<p id="status_time"></p>
    现在时间：<p id="status_now"></p>

    <p id="status_open"></p>


</div>


</body>
</html>